header {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 200, 173, 0.5);
    border-bottom: rgb(0, 33, 71) 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: -8px;
    padding: 15px;
    position: sticky; 
    top: 0;
    z-index: 999;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
}

nav a {
    border: 2px rgb(0, 19, 71) solid;
    background-color: rgba(80, 83, 85, 0.5);
    color: white;
    padding: 15px;
    text-decoration: none;
    margin: 2px;

} 
nav li:nth-child(1) a:hover{
    background-color: rgba(0, 200, 0, 0.5);
}
nav li:nth-child(2) a:hover{
    background-color: rgba(0, 200, 173, 0.5);
}
nav li:nth-child(3) a:hover{
    background-color: rgba(116, 37, 0, 0.74);
}
nav li:nth-child(4) a:hover{
    background-color: rgba(145, 0, 0, 0.781);
}

body {
    background-image: url(./img/Triassic-wallpaper.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 50px; 
    color: black;
    text-shadow: 1px 1px 2px turquoise, 0 0 1em rgb(251, 255, 0), 0 0 0.2em lightseagreen;
}
.container {
    border: 2px rgb(0, 19, 71) solid;
    backdrop-filter: blur(50px);
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px; 
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
}

.text-section{
    flex: 1;
    padding-right: 20px;
    padding-left: 20px; 
    font-size: 20px;
}

img {
    width: 500px;
    object-fit: contain;
}

.container-cards{
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 20px auto;
}

.card{
    border: 2px rgb(0, 19, 71) solid;
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    margin: 20px; 
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.2);
} 


.image-card{
    
    width: 300px;
    height: auto;
    object-fit: cover; 
}

.image-card2{
    
    width: 500px;
    height: auto;
    object-fit: cover; 
}

.card-text{
    text-align: center;
    word-wrap: break-word;
    width: 100%
}

span,.lystro{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.list-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; 
}